.container-animation {
  opacity: 0;
  transform: translateX(-100px); /* 初期位置: 左へスライド */
  transition: all 0.5s ease-in-out;
}

.container-animation.slide-in {
  opacity: 1;
  transform: translateX(0); /* 元の位置に戻る */
}
