html, body {
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden; /* 横スクロールを防ぎつつ、縦スクロールは許可 */
}

/* Shared animation properties */
.container-animation {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

/* 下から出現 */
.container-animation.slide-from-bottom {
  transform: translateY(100px); /* 初期位置: 下から */
  opacity: 1;
  transform: translateY(0); /* 元の位置に戻る */
}

/* 上から出現 */
.container-animation.slide-from-top {
  transform: translateY(-100px); /* 初期位置: 上から */
  opacity: 1;
  transform: translateY(0); /* 元の位置に戻る */
}